{% extends "base.html" %}

{% block titulo %}Galería{% endblock titulo %}
{% block contenido %}
    {% include "includes/buscador.html" %}
    <h1>Galeria</h1>
    {% include "includes/filtros_especie.html" %}
    {% for imagen in imagenes %}
        <p>{{ imagen.titulo }} - {{ imagen.especie }}</p>
        <div><img src="{{ imagen.imagen.url }}" alt="titulo" style="width: 500px;"></div>
        <em>{{ imagen.get_tipo_display }} Subida por: {{ imagen.autor.get_full_name | default:imagen.autor.username }} {{ imagen.fecha_creacion }}</em>
    {% endfor %}
    {% include "includes/paginador.html" %}
{% endblock contenido %}