.main {
    scrollbar-gutter: stable !important;
}

.nav-pills .nav-link {
    transition: all 0.2s ease-in-out;
    border-radius: 8px;
}

/* Efecto Hover en las opciones del sidebar: Excluyendo .active */
.nav-pills .nav-link:not(.active):hover {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo blanco semitransparente */
    transform: translateX(2px); /* Pequeño desplazamiento a la derecha */
    color: #fff !important;
}

.form-control, .form-select {
    color: black !important;
}

/* Slider del Historial de la masa arborea (thumb y track) */
.custom-range::-webkit-slider-thumb {
    background: #198754; /* Verde Success de Bootstrap */
}

.custom-range::-moz-range-thumb {
    background: #198754;
}

.custom-range::-webkit-slider-runnable-track {
    background-color: #d1e7dd;
}

/* Descripción en listar_especies  */

.hijos-sin-margin > * {
    margin: 0 !important;
}

/* Buscador  */

@media screen and (min-width: 1400px) {
  .buscador {
    width: 450px;
  }
}

/* :hover de los botones del dropdown de Acciones */
.btn-hover:hover {
    background-color: rgba(102, 187, 159, 0.1) !important;
    color: #58a68e !important;
    transition: all 0.2s ease-in-out;
}

.btn-hover-danger:hover {
    background-color: rgba(240, 128, 128, 0.1) !important;
    color: #e35d5d !important;
    transition: all 0.2s ease-in-out;
}

.btn-hover-activate:hover {
    background-color: rgba(102, 187, 159, 0.1) !important;
    color: #58a68e !important;
    transition: all 0.2s ease-in-out;
}