.main {
    scrollbar-gutter: stable !important;
}

.w-15 {
    width: 10%
}

.nav-pills .nav-link {
    transition: all 0.2s ease-in-out;
    border-radius: 8px;
}

/* Efecto Hover en las opciones del sidebar: Excluyendo .active */
.nav-pills .nav-link:not(.active):hover {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo blanco semitransparente */
    transform: translateX(2px); /* Leve desplazamiento a la derecha */
    color: #fff !important;
}

.form-control, .form-select {
    color: black !important;
}

/* Slider del Historial de la masa Forestal*/
.custom-range::-webkit-slider-thumb {
    background: #198754; /* Verde Success de Bootstrap */
}

.custom-range::-moz-range-thumb {
    background: #198754;
}

.custom-range::-webkit-slider-runnable-track {
    background-color: #d1e7dd;
}

/* Descripción en listar_especies  */
.hijos-sin-margin > * {
    margin: 0 !important;
}

/* Buscador  */
@media screen and (min-width: 1400px) {
  .buscador {
    width: 450px;
  }
}

/* :hover de los botones del dropdown de Acciones */
.btn-hover:hover {
    background-color: rgba(102, 187, 159, 0.1) !important;
    color: #58a68e !important;
    transition: all 0.2s ease-in-out;
}

.btn-hover-danger:hover {
    background-color: rgba(240, 128, 128, 0.1) !important;
    color: #e35d5d !important;
    transition: all 0.2s ease-in-out;
}

.btn-hover-activate:hover {
    background-color: rgba(102, 187, 159, 0.1) !important;
    color: #58a68e !important;
    transition: all 0.2s ease-in-out;
}

/* Mapa SVG */

.map-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

#map-background-layer {
    width: 100%; 
    height: auto;
    display: block;
    transition: filter 0.3s ease;
}

/* SVG */
.map-svg-layer {
    width: 100%;
    height: 100%;
}

/* Las zonas -> Los Paths dentro del SVG */
.map-svg-layer path, 
.map-svg-layer polygon {
    fill: transparent;
    stroke: none;
    cursor: pointer;
    transition: all 0.3s ease;
    pointer-events: all;
}

.map-svg-layer path:hover, 
.map-svg-layer polygon:hover {
    fill: rgba(25, 135, 84, 0.5); /* Verde semitransparente (ajusta a tu gusto) */
    stroke: #fff;
    stroke-width: 2px;
}

.map-controls {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
}

.btn-outline-secondary:hover {
    color: white;
}