{% if is_paginated %}
<nav class="mt-2">
    <ul class="pagination justify-content-center my-auto">
        <li class="page-item {% if not page_obj.has_previous %}disabled opacity-25{% endif %}">
            <a class="page-link text-dark text-muted" 
               href="?query={{ query }}&tipo={{ tipo }}&estado={{ estado }}&especie_buscar={{ especie_buscar }}&categoria={{ categoria }}&estado_especie={{ estado_especie }}&page=1"
               aria-label="Primera">
                <i class="fas fa-angles-left"></i> </a>
        </li>

        <li class="page-item {% if not page_obj.has_previous %}disabled opacity-25{% endif %}">
            <a class="page-link text-dark text-muted" 
               href="{% if page_obj.has_previous %} ?query={{ query }}&tipo={{ tipo }}&estado={{ estado }}&especie_buscar={{ especie_buscar }}&categoria={{ categoria }}&estado_especie={{ estado_especie }}&page={{ page_obj.previous_page_number }} {% else %}#{% endif %}" 
               aria-label="Anterior">
                <i class="fas fa-angle-left me-1"></i> <span class="d-none d-md-inline">Anterior</span>
            </a>
        </li>

        <li class="page-item">
            <span class="page-link text-dark text-muted">
                {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>
        </li>

        <li class="page-item {% if not page_obj.has_next %}disabled opacity-25{% endif %}">
            <a class="page-link text-dark text-muted" 
               href="{% if page_obj.has_next %} ?query={{ query }}&tipo={{ tipo }}&estado={{ estado }}&especie_buscar={{ especie_buscar }}&categoria={{ categoria }}&estado_especie={{ estado_especie }}&page={{ page_obj.next_page_number }} {% else %}#{% endif %}" 
               aria-label="Siguiente">
                <span class="d-none d-md-inline">Siguiente</span> <i class="fas fa-angle-right ms-1"></i>
            </a>
        </li>

        <li class="page-item {% if not page_obj.has_next %}disabled opacity-25{% endif %}">
            <a class="page-link text-dark text-muted" 
               href="?query={{ query }}&tipo={{ tipo }}&estado={{ estado }}&especie_buscar={{ especie_buscar }}&categoria={{ categoria }}&estado_especie={{ estado_especie }}&page={{ page_obj.paginator.num_pages }}"
               aria-label="Última">
                <i class="fas fa-angles-right"></i>
            </a>
        </li>
    </ul>
</nav>
{% endif %}