{% extends "base.html" %}

{% load static %}
{% block titulo %}Catálogo de Especies{% endblock titulo %}
{% block contenido %}
    <h1 class="display-6 fw-bold text-primary opacity-100">
        <i class="fas fa-tree me-2"></i>Mis Especies
    </h1>

    <div class="d-flex flex-column flex-xxl-row xxl-align-items-center gap-3">
        {% include "includes/buscador.html" %}
        {% include "includes/filtros_especie.html" %}
    </div>

    <hr class="my-3">

    <a href="{% url 'panel:crear_especie' %}" class="btn btn-primary btn-sm text-white rounded-pill px-3 mb-3 shadow-sm">
        <i class="fas fa-plus me-1"></i> Nueva Especie
    </a>

    <div class="card border-0 shadow-sm overflow-hidden mx-auto col-xxl-10">
        <div class="table-responsive">
            <table class="table table-hover align-middle mb-0">
                <thead class="table-light text-uppercase small">
                    <tr>
                        <th class="text-start ps-4">Especie</th>
                        <th class="text-center">Tipo</th>
                        <th class="text-center">Conservación</th>
                        <th class="text-start">Dimensiones</th>
                        <th class="text-center">Estado</th>
                        <th class="text-end pe-4">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for especie in especies %}
                        <tr>
                            <td class="text-start ps-4">
                                <div class="d-flex align-items-center">
                                    <div class="me-3 flex-shrink-0" style="width: 40px; height: 40px; position: relative;">
                                        {% if especie.imagenes.first.imagen %}
                                            <img src="{{ especie.imagenes.first.imagen.url }}"
                                                alt="Foto de {{ especie.nombre_comun }}"
                                                class="rounded-circle w-100 h-100 shadow-sm border"
                                                style="object-fit: cover;"
                                                onerror="this.style.display='none'; this.nextElementSibling.style.display='flex';" >
                                        {% else %}
                                            <div class="bg-success bg-opacity-10 text-success rounded-circle d-flex align-items-center justify-content-center w-100 h-100 border">
                                                <i class="fas fa-leaf opacity-75"></i>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <a {% if especie.is_active %} href="{% url 'public:detalle_especie' slug=especie.slug %}" {% endif %} class="text-decoration-none flex-grow-1">
                                        <div class="fw-bold text-dark">{{ especie.nombre_comun }}</div>
                                        <div class="small text-muted fst-italic">{{ especie.nombre_cientifico }}</div>
                                    </a>
                                </div>
                            </td>

                            <td class="text-center">
                                <span class="badge opacity-75 {%if especie.tipo == "ARBOL" %} bg-success {% else %} bg-danger {% endif %}">
                                    {{ especie.get_tipo_display }}
                                </span>
                            </td>

                            <td class="text-center">
                                 <span class="badge opacity-75" style="background-color: {{especie.color_uicn}};">
                                    <i class="fas fa-globe-americas me-1"></i> <span>{{ especie.estado_conservacion }}</span>
                                </span>
                            </td>

                            <td class="text-start">
                                <div class="d-flex flex-column small">
                                    <span><i class="fas fa-ruler-vertical text-primary w-25"></i>Alt: <strong>{{ especie.altura_maxima | default:'?' }} m</strong></span>
                                    <span><i class="fas fa-circle-notch metext-info w-25"></i>Diám: <strong>{{ especie.diametro_maximo | default:'?' }} m</strong></span>
                                </div>
                            </td>

                            <td class="text-center">
                                {% if especie.is_active %}
                                    <span class="badge bg-success bg-opacity-10 text-success border border-success rounded-pill px-3">
                                        <i class="fas fa-circle-check me-2"></i>Activo
                                    </span>
                                {% else %}
                                    <span class="badge bg-secondary bg-opacity-10 text-secondary border border-secondary rounded-pill px-3">
                                        <i class="fas fa-eye-slash me-2"></i>Inactivo
                                    </span>
                                {% endif %}
                            </td>

                            <td class="text-end pe-4">
                                <div class="btn-group btn-group-sm shadow-sm" role="group">
                                    <a href="{% url 'panel:urls' slug=especie.slug %}" class="btn btn-light text-muted" data-bs-toggle="tooltip" title="Ver ficha pública">
                                        <i class="fas fa-link"></i>
                                    </a>
                                    <a href="{% url 'panel:mi_galeria' %}?especie_buscar={{ especie.id }}" class="btn btn-light text-muted" data-bs-toggle="tooltip" title="Ver Galería">
                                        <i class="fas fa-images"></i>
                                    </a>
                                    <a href="{% url 'panel:editar_especie' slug=especie.slug %}" class="btn btn-light text-primary" data-bs-toggle="tooltip" title="Editar información">
                                        <i class="fas fa-pen-to-square"></i>
                                    </a>
                                    {% if especie.is_active %}
                                         <a href="{% url 'panel:eliminar_especie' slug=especie.slug %}" class="btn btn-light text-danger" title="Desactivar">
                                            <i class="fas fa-eye-slash"></i>
                                        </a>
                                    {% else %}
                                        <a href="{% url 'panel:activar_especie' slug=especie.slug %}" class="btn btn-light text-success" title="Activar">
                                            <i class="fas fa-circle-check"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6" class="text-start py-4">
                                <div class="col-12 text-center mx-auto">
                                    <div class="mb-3">
                                        <i class="fas fa-leaf fa-4x"></i>
                                    </div>
                                    <h3 class="fw-light">No encontramos especies.</h3>
                                    <p>Intenta ajustar tus filtros de búsqueda.</p>
                                    <a href="{{ request.path }}" class="btn btn-primary mt-2">Limpiar Filtros</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include "includes/paginador.html" %}
{% endblock contenido %}